<h1>Login</h1>

<%= form_with(url: login_path) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password, required: true %>

  <%= form.submit 'Login' %>
<% end %>
<br>
<%= link_to 'Sign Up', signup_path %>
